---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sovereign Cards Database">
  <main>
    <h1>Sovereign: Fall of Wormwood</h1>
    <p>Welcome to the cards database for the game <em>Sovereign: Fall of Wormwood</em>.</p>
  </main>
</Layout>
